body {
    text-align: center;
}

h1 {
    color: crimson;
    text-decoration: underline;
}

#home {
    background-image: url('photo-1579546929518-9e396f3cc809.jpg');
}

img {
    width: 300px;
    height: 300px;
}

.class2 {
    background-image: url('Gradient_builder_2.jpg');
}
#qwerty{
    background-image: url('how-to-create-gradient-article.jpg');
}